{% extends "/base_templates/base_profile.html" %}

{% block link_css %}
<link rel="stylesheet" href="/static/css/class_owner.css">
{% endblock %}

{% block content_profile %}
<main class="d-flex flex-nowrap">
    <h1 class="visually-hidden">Sidebars examples</h1>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; min-height: 600px">
        <a href="/class/{{ current_class.id }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Класс</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/class/{{ current_class.id }}" class="nav-link link-body-emphasis" aria-current="page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-house-door" viewBox="0 0 16 16">
                        <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="/table_grade/{{ current_class.id }}" class="nav-link active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                      <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 2h-4v3h4zm0 4h-4v3h4zm0 4h-4v3h3a1 1 0 0 0 1-1zm-5 3v-3H6v3zm-5 0v-3H1v2a1 1 0 0 0 1 1zm-4-4h4V8H1zm0-4h4V4H1zm5-3v3h4V4zm4 4H6v3h4z"/>
                    </svg>
                    Таблица
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{ current_user.name }}</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">Настройки</a></li>
                <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <p><a class="link-opacity-100" href="/list_classes" style="text-decoration: none;">← Список классов</a></p>
        <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">№</font></font></th>
              <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ученик</font></font></th>
              <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Список оценок</font></font></th>
              <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Средний балл</font></font></th>
              <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Действия</font></font></th>
            </tr>
          </thead>
          <tbody>
            {% if users %}
            {% for user in users %}
            <tr>
              <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ loop.index }}</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ user.surname }} {{ user.name }}</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align\: inherit;">{{ dict_user_grade[user.id] }}</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ dict_user_gpa[user.id] }}</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align\: inherit;">
                        <input data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="padding: 0px; padding-left: 8px; padding-right: 8px;" class="btn btn-link" type="submit" name="button_text" value="добавить">
                    </font></font></td>
            </tr>
            <form action="/table_grade/{{ current_class.id }}/{{ user.id }}" method="post">
                {{ form.hidden_tag() }}
                <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Добавление новой оценки</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Выберете оценку из выпадающего списка:
                        {{ form.grade() }}
                      </div>
                      <div class="modal-footer">
                        <a  class="btn btn-light" data-bs-dismiss="modal">Закрыть</a>
                        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Добавить</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
            {% endfor %}
           {% else %}
              <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">—</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">—</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align\: inherit;">—</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align\: inherit;">—</font></font></td>
              <td><font style="vertical-align: inherit;"><font style="vertical-align\: inherit;">—</font></font></td>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
</main>
{% endblock %}
