#label-theme-feadback {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-text-feadback {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
