#label-name-profile-settings {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-surname-profile-settings {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#label-email-profile-settings {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}