/*индекс*/
.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.m-auto {
    margin: auto!important;
}

.w-100 {
    width: 100%!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

main {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/*регистрация и вход*/

#label-name-register {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-surname-register {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#label-email-register {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#label-password-register {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#label-again-password-register {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}




#label-email-login {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-password-login {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}



#label-email-reset {
      margin-bottom: 10px;
}

#label-password-reset {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-again-password-reset {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}




#label-title-class-create {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-about-class-create {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-identifier-class-create {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#label-key-class-create {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}





.class-div-class-room {
        background-color: rgba(248, 249, 250, 1);
        border-radius: 10px;
        padding: 20px;
        padding-bottom: 100px;
        margin-bottom: 10px;
        width: 270px;
        height: 150px;
        cursor: pointer;

        white-space: nowrap; /* предотвращает перенос текста на новую строку */
        overflow: hidden; /* скрытие текста, который выходит за пределы блока */
        text-overflow: ellipsis; /* добавление многоточия в конце текста */
        border: 1px solid LightGrey;
    }

.h3-overflow-card {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

}

.h6-overflow-card {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

}

.h3-overflow-card:hover, h6-overflow-card:hover {
  white-space: normal;
}

